<form id="loginForm">
    <input type="text" id="usernameLogIn" placeholder="Username" name="username" ng-model="logUsername" />
    <br>
    <input type="password" id="passwordLogIn" placeholder="Password" name="password" ng-model="logPassword" />
    <br>
    <button id="forgotpass" type="button" class="btn btn-forgot" data-dismiss="modal">Forgot password?</button>
</form>