<form id="signupForm">
    <input type="text" name="username" placeholder="Username" ng-model="regUsername" /> /
    <br>
    <input type="text" name="password" placeholder="Password" ng-model="regPassword" />
    <br>
    <input type="text" name="email" placeholder="Email" ng-model="regEmail" />
    <button ng-click="signup()">Signup2!</button>
</form>