/*SIDEBAR*/
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
    font-family: "entypo", sans-serif;
}
a { 
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tasku {
    padding: 50px;
    color: black;
}


.container {
    margin: 0 auto;
    padding: 20px 50px;
    background: white;
}
#sticky-social {
    left: 0;
    position: fixed;
    top: 150px;
    z-index: 10;
}
#sticky-social a {
    background: #333;
    color: #fff;
    display: block;
    height: 35px;
    font: 16px "Open Sans", sans-serif;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 35px;
}
#sticky-social a span {
    line-height: 35px;
    left: -120px;
    position: absolute;
    text-align:center;
    width:120px;
}
#sticky-social a:hover span {
    left: 100%;
}
#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span { background: #3b5998; }

#sticky-social a[class*="twitter"],
#sticky-social a[class*="twitter"]:hover,
#sticky-social a[class*="twitter"] span { background: #00aced; }

#sticky-social a[class*="shuffle"],
#sticky-social a[class*="shuffle"]:hover,
#sticky-social a[class*="shuffle"] span { background: #517fa4; }  

#sticky-social a[class*="heart"],
#sticky-social a[class*="heart"]:hover,
#sticky-social a[class*="heart"] span { background: #EF5350; }

/*SIDEBAR*/

p {
    color: #f5f5f5;
    font-size: 1.25em;
}

#currentRatingBox{
    color: #f5f5f5;
}

#footerID p {
    color: #1a242f;
    font-size: 0.8em;
}

body{
    /*background-color: #9E9E9E;*/
    background-color: #616161;
}

#navi {
    background-color: #f5f5f5;
}

#footerID {
    background-color: #f5f5f5;
}

#commentdiv{
    background-color: #fafafa;
}

#uploadbutton{
    margin-top: 7px;
}

#submitcomment{
    margin-top: 5px;
}

#rowId{
    margin-top: 60px;
}

#removebutton{
    margin-bottom: 5px;
    margin-top: 5px;
}

#blah{
    margin-bottom: 5px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.3em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

#currentRating {
    text-align: center;

}

#favouritediv > span{
    font-size: 2.5em;
    color: #FFFF66;
    background-color: #1a242f;
}

/*COMMENT BUBBLE*/
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}
/*COMMENT BUBBLE*/